<!-- <app-header></app-header> -->

<div class="home-container">
  <div class="space"></div>
  <div class="content-block-container">
    <section class="content-block">
      <div class="content">
        <h2><i class="fas fa-graduation-cap icon"></i> Educate</h2>
        <p>Learn about various topics</p>
      </div>
    </section>

    <section class="content-block">
      <div class="content">
        <h2><i class="fas fa-eye icon"></i> Views</h2>
        <p>Explore views and opinions on various issues</p>
      </div>
    </section>

    <section class="content-block">
      <div class="content">
        <h2><i class="fas fa-exclamation-triangle icon"></i> Report Incidents</h2>
        <p>Get to report incidents around you</p>
        <!-- <a href="#">Report Now</a> -->
      </div>
    </section>

    <section class="content-block">
      <div class="content">
        <h2><i class="fas fa-poll icon"></i> Contribute to Polls</h2>
        <p>Participate in polls and surveys...</p>
        <!-- <a href="#">Vote Now</a> -->
      </div>
    </section>
  </div>

  <div class="welcome-container">
    <div class="welcome-line">
      <p>"Welcome to CitizenConnect360” <br> <br>
        Your go-to platform for participating in community polls, reporting incidents,<br>
        contributing your views and accessing educational resources.
        Stay informed and <br>contribute to making your community a better place.</p>
    </div>
    <button id="btn">Get Started</button>
  </div>

</div>