<div class="main-container">
    <div class="sub-container1">
        <div class="reported-incidents">
            <h3>Latest Reported Incidents</h3>
            <div class="incidents">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem.</p>
            </div>
        </div>
    </div>

    <div class="sub-container2">
        <div class="share-incident">
            <label for="postInput">Share any incident around you</label>
            <input type="text" id="postInput" placeholder="Share your thoughts">
            <button>Post</button>
        </div>

        <div class="incident">
            <p class="user-name">John Doe</p>
            <p class="timestamp">9:30am</p>
            <img src="https://images.pexels.com/photos/5789319/pexels-photo-5789319.jpeg?auto=compress&cs=tinysrgb&w=800"
                alt="Profile Image">

            <div class="posted-incident">
                <p>Peaceful protests!</p>
            </div>
        </div>

    </div>

    <div class="sub-container3">
        <div class="user-profile-summary">
            <h3>Recent Activity:</h3>
            <ul>
                <li>Posted an incident</li>
                <li>Commented on</li>
            </ul>
        </div>

    </div>
</div>