<nav>
    <div class="logo-nav">
      <img src="/assets/logo.PNG" alt="logo" class="logo">
      <ul class="nav-part">
        <li><a routerLink="government-official-dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="citizen-views" routerLinkActive="active">Citizen Views</a></li>
        <li><a routerLink="reported-incidents" routerLinkActive="active">Reported Incidents</a></li>
        <li><a routerLink="create-polls" routerLinkActive="active">Create Polls</a></li>
      </ul>
    </div>
    <!-- <ul class="auth-part">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul> -->
  </nav>

  <router-outlet></router-outlet>
  